.InputElement {
    border: none;
    border-bottom: 3px solid #44ad44;
    outline: none;
    font-size: 1.2rem;
    margin: 10px 0;
    background-color: transparent;
}

.Invalid {
    border-bottom: 3px solid #e77272;
}