.InputElement {
    border: none;
    padding: 7px;
    border-bottom: 3px solid #44ad44;
    outline: none;
    font-size: 1.1rem;
    margin: 15px 0;
    background-color: #f3f3f3;
}

.Invalid {
    border-bottom: 3px solid #e77272;
}