.Register {
    color: #474747;
    width: 500px;
    margin: auto;
    padding: 20px;
}

.Register h1 {
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: .5rem;
    font-size: 4rem;
}

.Register h4 {
    font-size: 2rem;
}

.Register form {
    display: flex;
    flex-flow: column;
    width: 100%;
}

/* .Register input {
    border: 1px solid rgb(53, 53, 53);
    outline: none;
    border-radius: 25px;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 1.2rem;
} */

.Register input.Btn {
    background-color: #dea4ff;
    width: fit-content;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    border-radius: 25px;
    margin: 10px 0;
    padding: 5px 25px;
    font-size: 1.2rem;
}

.Register input.Btn:hover {
    background-color: #e9c3ff;
}

.Accnt {
    padding-top: 10px;
    color: #9c9c9c;
}

.Link {
    color: #44ad44;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: -.02rem;
}

.Link:hover {
    color: #78cf78;
    text-decoration: none;
    font-size: 1rem;
}

.ErrorMsg {
    color: rgb(175, 52, 52);
    font-weight: bold;
    margin: auto;
    font-size: 1rem;
}

@media only screen and (max-width: 500px) {
    .Register {
        width: 80%;
    }
}