.NavItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavItem a {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
}

.NavItem a:hover, .NavItem a:active, .NavItem a.active {
    color: rgb(198, 137, 255);
}

@media (min-width: 500px) {
    .NavItem {
        margin: 0;
        display: flex;
        width: auto;
        align-items: center;
    }
    .NavItem a {
        color: white;
        font-size: 1.1rem;
        font-weight: 200;
        text-decoration: none;
        padding: 7px 23px;
        border: 1px solid transparent;
    }
    .NavItem a:hover {
        color: rgb(179, 117, 238);
    }
    .NavItem a:active, .NavItem a.active {
        border: 1px solid white;
        border-radius: 25px;
        color: white;
    }
}