.Landing {
    height: 92vh;
    background: linear-gradient(rgba(0, 0, 0, 0.26), rgba(128, 128, 128, 0.267)), url("../../assets/img/UI/landing.jpg");
    background-size: cover;
    text-align: center;
}

.Landing h1 {
    color: #b375ee;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: .5rem;
    font-size: 4.5rem;
}

.Buttons a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: green;
    color: white;
    mar